In [190]:
import pandas as pd
import psycopg2 as pg

In [191]:
con = pg.connect(host='localhost', dbname='projetofinal', user='postgres', password='7355608')

In [209]:
# #### Amanda 
# # variaveis

# id_quarto = 123
# valor = 500
# status =  'Disponivel'
# filtros = 'Vista pra rua'

In [214]:
##### Cleuvya
# variaveis

cpf = '33344455500'
data_nascimento = '2002-12-08'
nome = 'Pedro Mota'
telefone= '8899885547'
email = 'pedromota2020@gmail.com'
id_cliente= 11

In [210]:
cursor = con.cursor()
con.commit()

In [211]:
### Amanda
# try:
#     cursor.execute('insert into suite_dupla (id_quarto, valor, status, filtros) values(%s,%s,%s,%s)',
#         (id_quarto, valor, status, filtros))
#     con.commit()
#     print('Sucesso')
# except:
#     cursor.execute('Rollback')
#     print('Fail')

Sucesso

In [215]:
## Cleuvya
try:
    cursor.execute('insert into cliente (cpf, data_nascimento, nome, telefone, email, id_cliente) values(%s,%s,%s,%s,%s,%s)',
        (cpf, data_nascimento, nome, telefone,email, id_cliente))
    con.commit()
    print('Sucesso')
except:
    cursor.execute('Rollback')
    print('Fail')

Sucesso

In [197]:
import sqlalchemy
from sqlalchemy import create_engine

In [198]:
con2 = 'postgresql://postgres:7355608@localhost/projetofinal'
sqlalchemy.create_engine(con2)

Engine(postgresql://postgres:***@localhost/projetofinal)

In [212]:
# ### Amanda
# ### seleciona a tabela e adiciona ela na variavel df
# query= "select * from suite_dupla"
# df = pd.read_sql_query(query,con2)

In [216]:
## Cleuvya

query= "select * from cliente"
df = pd.read_sql_query(query,con2)

In [217]:
df

,cpf,data_nascimento,nome,telefone,email,id_cliente
0,2345678,2001-10-08,maria alice,87678675,mariaalice@gmail.com,123457
1,12345678901,1990-01-01,João Silva,(11) 98765-4321,joaosilva@email.com,1
2,23456789012,1985-05-15,Maria Santos,(21) 12345-6789,mariasantos@email.com,2
3,34567890123,1970-10-30,Pedro Oliveira,(31) 98765-4321,pedrooliveira@email.com,3
4,45678901234,1995-03-20,Ana Costa,(41) 12345-6789,anacosta@email.com,4
5,56789012345,1980-07-05,Carlos Ferreira,(51) 98765-4321,carlosferreira@email.com,5
6,67890123456,1992-12-18,Bruna Lima,(61) 12345-6789,brunalima@email.com,6
7,78901234567,1975-04-10,Lucas Pereira,(71) 98765-4321,lucaspereira@email.com,7
8,89012345678,1988-09-25,Isabela Martins,(81) 12345-6789,isabelamartins@email.com,8
9,90123456789,1998-02-13,Rafael Souza,(91) 98765-4321,rafaelsouza@email.com,9
10,01234567890,1983-06-08,Camila Alves,(10) 12345-6789,camilaalves@email.com,10
11,33344455500,2002-12-08,Pedro Mota,8899885547,pedromota2020@gmail.com,11